@font-face {
    font-family: sw-semibold;
    src: url("./fonts/Switzer-Semibold.otf");
}

@font-face {
    font-family: sw-regular;
    src: url("./fonts/Switzer-Regular.otf");
}

@font-face {
    font-family: sw-bold;
    src: url("./fonts/Switzer-Bold.otf");
}

body{
    font-family: sw-regular !important;
    margin: 0%;
    padding: 0%;
}

/*CONTAINERS*/

header{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(240, 246, 255, 1) 51%, rgba(215, 232, 255, 1) 100%, rgba(0, 151, 181, 1) 100%);
}

.navbar-nav li a{
    color: rgb(20, 19, 19);
    transition: all .2s ease-in;
}

.navbar-nav li a:hover{
    color: rgb(0, 102, 255);
}

.land-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.land-box img{
    width: 400px;
    margin-bottom: 0%;
}

section{
    margin-top: 40px;
    margin-bottom: 40px;
}

.service-box{
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.service-box img{
    width: 400px;
}

.service-text p.medium-text{
    max-width: 300px;
}

.do-box{
   padding-top: 50px;
   padding-bottom: 40px;
}

.do-box p{
    text-align: center;
}

.values{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.values img{
    margin-right: 8px;
    margin-bottom: 8px;
    transition: all .2s ease-in-out;
}

.values img:hover{
    transform: scale(1.03);
}



/*TEXT*/

.text-big{
    font-family: sw-semibold;
    font-size: 60px;
    margin-bottom: 0%;
}

.g-text{
    color: #8a8a8a;
    font-size: 18px;
    line-height: 27px;
    
}

.medium-text{
    font-size: 36px;
    font-family: sw-bold;
    line-height: 40px;
    
}


a.cta{
    margin-top: 20px;
    text-decoration: none;
    background-color: #0f62fe;
    padding: 12px 20px;
    border-radius: 50px;
    color: #fff;
    transition: all .2s ease-in-out;
}

a.cta:hover{
    text-decoration: none;
    background-color: #115ce7;
    color: #fff;
}

img.wav{
    margin-top: 30px;
    width: 100%;
    pointer-events: none;
}


.exclusive-content{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.client{
    text-align: center;
}

.client .hours{
    font-size: 80px;
    font-family: sw-bold;
    margin-bottom: 0%;
}

.client .g-text{
    margin: 0%;
    font-size: 18px;
}

.client img{
    width: 200px;
}

.still{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(215, 232, 255);
    background: linear-gradient(0deg, rgba(215, 232, 255, 1) 0%, rgba(240, 246, 255, 1) 51%, rgba(255, 255, 255, 1) 100%);
    padding-bottom: 60px;
}








@media screen and (max-width: 480px) {
   
    .land-box img{
        width: 300px;
    }

    .land-box p.g-text{
        padding-left: 3%;
        padding-right: 3%;
    }

    .text-big{
        font-size: 28px;
    }

    img.wav{
        width: 100%;
    }

    .values{
        margin: 0%;
    }

    .values img{
        margin-right: 0%;
        width: 300px;
    }
    
    .medium-text{
        font-size: 22px;
        line-height: 30px;
    }

    .g-text{
        text-align: center;
        font-size: 16px;
    }

    .service-box {
        padding-left: 3%;
        padding-right: 3%;
        flex-direction: column-reverse;
    }

    .service-box p{
        text-align: center;
    }

    .service-text p.medium-text {
        max-width: unset;
    }
    
    .service-box img {
        width: 300px;
    }
   


    .exclusive-content {
        flex-direction: column;
    }

    .client{
        margin-bottom: 30px;
    }

    .clients .hours{
        font-size: 30px;
    }

    .client .g-text{
        font-size: 16px;
    }


}